{% extends "base.htm" %}
{% block title %}signup{% endblock %}
{% block content %}
{% if conf['message'] %}
<div id="error">{{ conf['message'] }}</id>
{% endif %}
{% import 'forms.htm' as forms %}
<form action='{{ conf['root'] }}/register' method='post'/>
    <dl>
        <dt>タイトル</dt>
        <dd> {{ forms.input('name') }}</dd>
        <dt>タグ(半角スペースで区切ってください)</dt>
        <dd> {{ forms.input('password', type='password') }}</dd>
        <dt>あらすじ</dt>
        <dd> {{ forms.textarea('summary' }}</dd>
        <dd> {{ forms.input('submit', type='submit', value='送信') }}</dd>
</form>
{% endblock %}
