<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ja">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <div id="navbar">
            {% if not config['adfree'] %}
            {% endif %}
        </div>
        {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012 by <a href="{{ host }}">tag search</a>.
        {% endblock %}
    </div>
</body>
