{% extends "base.htm" %}
{% block title %}login{% endblock %}
{% block content %}
  {% if message %}
    <div id="error">{{ message }}</id>
  {% endif %}
  {% import 'forms.htm' as forms %}
  <form action="{{ url_for('login') }}" method="post"/>
    <dl>
      <dt>メールアドレス</dt>
      <dd> {{ forms.input('mail') }}</dd>
      <dt>パスワード</dt>
      <dd> {{ forms.input('password', type='password') }}</dd>
      <dd> {{ forms.input('submit', type='submit', value='送信') }}</dd>
  </form>
{% endblock %}
