{% extends "base.htm" %}
{% block title %}ようこそ{{ user.name }}さん。{% endblock %}
{% block content %}
{% block user_header %}
{% endblock %}
<div class="user"/>
    <h2>profile</h2>
    <dl>
        <dt><i class="icon-user"></i></dt>
        <dd>{{ user.name }}</dd>
        <dt><i class="icon-envelope"></i></dt>
        <dd>{{ user.mail }}</dd>
        <dt><i class="icon-external-link"></i></dt>
        <dd>{{ user.site }} <a href="{{ user.url }}" target="_top">{{ user.url }}</a></dd>
    </dl>
    <div id="usermenu">
        {{ forms.linkbutton(url_for('add_novel'), "ADD NOVEL", "icon-plus") }}
        {{ forms.linkbutton(url_for('edit_profile'), "EDIT PROFILE", "icon-edit") }}
    </div>
</div><!--end of user-->
<div class="novel">
     <script type="text/javascript">
         var tag_tr='<tr><td>{{ forms.input("tag") }}</td><td><input type="checkbox" value="l"/></td><td><input type="checkbox" value="b"/></td><td><button type="button" onclick="$(this).parent().parent().remove();"><i class="icon-trash"></i></button></td>></tr>';

         function numbering(){
             $("tbody tr").each(function(i){
                     $(this).find("input").attr('name', i);
                     });
         }

         var url='{{ url_for('update_tags', novel_id=0) }}';

         function postag(id){
             numbering();
             var formid = "#" + id;
             var tagdata =($(formid).serializeArray());
             $.ajax({
                 url: url + id,
                 type: "POST",
                 data: tagdata,
                 success: function(o){
                     $("#tag" + id).text(o);
                     alert("updated");
                 },
                error: function(xhr, textstatus, errorTrown){
                    alert("error");
                }
            });
    }
    </script>
    <h2>novel</h2>
    {% for novel in novels %}
    {% if novel.status %}
    <dl>
        <dt><i class="icon-book"></i></dt>
        <dd>{{ novel.title }}</dd>
        <dt><i class="icon-tags"></i> <a id="noveltag{{ novel.id }}" onclick="$('#tagedit{{ novel.id }}').toggle();"><i class="icon-wrench"></i></a></dt>
        <dd><p id="tag{{ novel.id }}">{% for tag in novel.tag_list %}{%if tag.status %}{{ tag.tag }} {% endif %}{% endfor %}</p>
            <div class="tagedit" id="tagedit{{ novel.id }}">
                <form id="{{ novel.id }}">
                    <table id="tagtable{{ novel.id }}">
                        <tr>
                            <td><i id="gray" class="icon-tag"></i></td>
                            <td><i id="gray" class="icon-lock"></i></td>
                            <td><i id="gray" class="icon-ban-circle"></i></td>
                            <td></td>
                        </tr>
                        {% for tag in novel.tag_list %}
                        {% if tag.status or (not tag.status and not tag.edit) %}
                        <tr>
                            <td>{{ forms.input('tag', value=tag.tag) }}</td>
                            <td><input type="checkbox" value="l" {% if not tag.edit %}checked="checked"{% endif %}/></td>
                            <td><input type="checkbox" value="b" {% if not tag.status %}checked="checked"{% endif %}/></td>
                            <td><button type="button" onclick="$(this).parent().parent().remove();"><i class="icon-trash"></i></button></td>
                        </tr>
                        {% endif -%}
                        {%- endfor %}
                    </table>
                    <button type="button" onclick="$('#tagtable{{ novel.id }} > tbody:last').append(tag_tr);"><i class="icon-plus"></i></button>
                    <button type="button" onclick="postag({{ novel.id}});"><i class="icon-upload"></i></button>
                </form>
            </div><!-- end of tagedit-->
        </dd>
        <dt><i class="icon-pencil"></i></dt>
        <dd><p>{{ novel.summary }}</p></dd>
    </dl>
    <div id="novelmenu">
        {{ forms.linkbutton(url_for('edit_novel', novel_id=novel.id), "EDIT", "icon-edit") }}
        {{ forms.linkbutton(url_for('delete_novel', novel_id=novel.id), "DEL", "icon-trash") }}
    </div>
    {% endif %}
    {% endfor %}
</div><!--end of novel-->
{% endblock %}
