{% extends "base.htm" %}
{% block title %}ようこそ{{ user.name }}さん。{% endblock %}
{% block content %}
  <div class="user"/>
    ID: {{ user.id }}<br/>
    name: {{ user.name }}<br/>
    mail: {{ user.mail }}<br/>
    site: {{ user.site }}<br/>
    url:  <a href="{{ url }}" target="_top">{{ user.url }}</a><br/>
  </div>
  <br/>
  <br/>
  <div class="novel">
    {% for novel in novels %}
      title: {{ novel.title }}<br/>
      summary: {{ novel.summary }}<br/>
      tag: {% for tag in novel.tag_list %}{{ tag.tag }} {% endfor %}<br/>
    {% endfor %}
  </div>
{% endblock %}
