{% extends "base.htm" %}
{% block title %}signup{% endblock %}
{% block content %}
{% if message %}
<div id="error">{{ message }}</id>
{% endif %}
{% import 'forms.htm' as forms %}
<form action='{{ path }}' method='post'/>
    <dl>
        <dt>名前</dt>
        <dd><input type="text" value="{{ user['name'] }}" name="name"></dd>
        <dt>メールアドレス</dt>
        <dd><input type="text" value="{{ user['mail'] }}" name="mail"></dd>
        <dt>パスワード</dt>
        <dd> {{ forms.input('password', type='password') }}</dd>
        <dt>パスワード(再入力)</dt>
        <dd> {{ forms.input('password2', type='password') }}</dd>
        <dt>サイト名</dt>
        <dd><input type="text" value="{{ user['site'] }}" name="site"></dd>
        <dt>URL</dt>
        <dd><input type="url" value="{{ user['url'] }}" name="url"></dd>
        <dd> {{ forms.input('submit', type='submit', value='送信') }}</dd>
</form>
{% endblock %}
