{% macro dump_novel_info(novel) -%}
<div class="novel">
    <h2 id="novel_title"><a href="{{ url_for('novelinfo', novel_id=novel.id) }}" target="_top">{{ novel.title }}</a></h2>
    <div id="novel_info">
        <i class="icon-pencil"></i> {{ novel.author.name }}<br/>
        <div id="site_link">
            <a href="{{ url_for('link_to_site', id=novel.id, to=novel.author.quoteurl) }}" target="_blank"><i class="icon-external-link"></i> {{ novel.author.site }}</a><br/></div>
        <i class="icon-tags"></i>
        {% for tag in novel.active_tags %}
        <a href="{{ url_for('tag_search', tag=tag.tag) }}" target="_top">{{ tag.tag }}</a> 
        {% endfor %}
        <p>{{ novel.shortsummary }}</p>
    </div>
</div>
{%- endmacro %}
